<mat-card>
  <mat-card-header>
    <mat-card-title>Registrieren</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm">
      <mat-form-field appearance="outline">
        <mat-label>E-Mail Adresse</mat-label>
        <input matInput placeholder="E-Mail Adresse" type="email" formControlName="email" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Passwort</mat-label>
        <input matInput placeholder="Passwort" type="password" formControlName="password" required>
      </mat-form-field>
      <br>
      <label class="error">{{errorMessage}}</label>
      <label class="success">{{successMessage}}</label>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button color="accent" mat-raised-button type="submit" (click)="register(registerForm.value)">
      Registrieren
    </button>
    <button mat-stroked-button [routerLink]="['/','user','login']">
      Einloggen
    </button>
  </mat-card-actions>
</mat-card>
