@import '~@angular/material/theming';

@include mat-core();

$grey-amber-dark-primary: mat-palette($mat-gray, 900);
$grey-amber-dark-accent: mat-palette($mat-amber, A200, A100, A400);
$grey-amber-dark-warn: mat-palette($mat-red);
$grey-amber-dark-theme: mat-dark-theme($grey-amber-dark-primary, $grey-amber-dark-accent, $grey-amber-dark-warn);
@include angular-material-theme($grey-amber-dark-theme);
