/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$positive: white;
$negative: #ff3d00;

$sm: 5px;
$md: 15px;
$lg: 30px;

.positive{
  color: $positive;
}

.negative{
  color: $negative;
}
