html, body {
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$positive: #2e7d32;
$negative: #ff3d00;

$sm: 5px;
$md: 15px;
$lg: 30px;

.positive {
  color: $positive;
}

.negative {
  color: $negative;
}
